body
{
	background-image:repeating-conic-gradnt(from 0 at 0% 0%, #1010000 0, #101010 10deg, #100010 20deg, #100000 30deg, #101000 40deg);
	height:100vh;
	align-items:center;
}
.cover
{
	opacity:0.5;
	animation:60s linear infinite fade;
}
@keyframes fade
{
	0%
	{
		background-color:#081000;
	}
	25%
	{
		background-color:#081010;
	}
	50%
	{
		background-color:#080010;
	}
	100%
	{
		background-color:#081000;
	}
}